<form action="<%= session_url %>" method="POST">
<h2>Login!</h2>
<label>Email: 
  <input type="text" name="user[email]">
</label>

<label>Password: 
  <input type="password" name="user[password]">
</label>

<input type="submit" value="Login">
</form>
