<h2>Create a New Band</h2>

<br> 
<form action="<%= bands_url %>" method="POST">

  <label>Band Name:
    <input type="text" name="band[name]">
  </label>

<input type="submit" name="Create Band">
</form>


