.col {
  float: left;
  box-sizing: border-box;
}

/* Attribute selector targeting all elements
with a class attribute containing 'col-' */
[class*='col-'] {
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-2-3 {
  width: 66.6666%;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.3333%;
}

.col-1-4 {
  width: 25%;
}

.col-1-8 {
  width: 12.5%;
}

.cf:after {
  content: '';
  display: block;
  clear: both;
}

@media all and (max-width: 900px) {
  nav ul {
    display: none;
  }
  .hamburger-dropdown {
    display: block;
  }
  .hamburger-dropdown > li {
    background: url(images/hamburger.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
  }
  .hamburger-dropdown ul {
    position: absolute;
    left: 0;
    flex-direction: column;
    box-shadow: black 5px 5px 10px;
    top: 50px;
    cursor: pointer;

  }
  .hamburger-dropdown:hover ul {
    display: flex;
    background: white;
  }

  .hamburger-dropdown ul li:hover a {
    text-decoration: underline;
  }
};

